@use "sass:color";
@use "./main" as *;

$dark-brown: #5e4a36;

//=================Restaurant Offers ==============

.offer-card-enter-right {
  animation: enterFromRight 0.35s ease forwards;
}

.offer-card-enter-left {
  animation: enterFromLeft 0.35s ease forwards;
}

@keyframes enterFromRight {
  from { transform: translateX(40%); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}

@keyframes enterFromLeft {
  from { transform: translateX(-40%); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}

#restaurant-offers-container {
  margin: 0.5rem;

  .offers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 2rem 0;

    .offer-card {
      //SPECIAL OWNER VIEW STYLES
    }
  }
}

.offers-whole-row {
  display: flex;
  gap: 1.4rem;
  overflow: hidden;
}

.offers-row-wrapper {
  overflow: hidden;
  padding: 2rem 1rem;
}

.offers-row {
  display: flex;
  gap: 1.5vw;
}

.menu-offer-slide-btn-container {
  display: flex;
  align-items: center;

  button {
    
  }
}

.offer-card {
  display: flex;
  flex-direction: column;
  width: 19vw;
  height: 35vh;
  background-color: rgb(214, 170, 113);
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;

  .offer-image-wrapper {
    position: relative;
    aspect-ratio: 16/9;
    height: 70%;                //Pri mogucoj izmeni u smislu dodavanje jela, staviti na 40%
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 35%;
      background: linear-gradient(
        to bottom,
        rgba(243,233,176,0) 0%,
        rgba(214, 170, 113,1) 100% 
      );
      pointer-events: none;
    }
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    section {
      position:absolute;
      bottom: 5%;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      gap: 3rem;
      button {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }

    .offer-expires-at-badge {
      position:absolute;
      display: flex;
      width: 100%;
      top: 4%;
      right: 2%;
      flex-direction: row-reverse;
      p {
        margin: 0;
        padding: 0.4rem;
        text-align: center;
        //text-decoration: underline;
        background-color: rgba(172, 70, 70, 0.952);
        color: white;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
      }
    }

  }

  .offer-info-wrapper {
    display: flex;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 1rem 1rem;
    .offer-info {
      flex-grow: 1;
      .offer-name {
        margin: 0;
        margin-bottom: 0.4rem;
        color: rgb(70, 51, 51);
      }

      .offer-price {
        margin: 0;
        margin-left: 0.2rem;
        color: #222;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    margin-left: 1rem;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.offer-card-hover:hover {
  cursor: pointer;
  transform: translateY(-6px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.116), 0 6px 20px 0 rgba(0, 0, 0, 0.075);
}


//=======OFFER-MANAGE========

.offer-manage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//========OFFER-FORM=========

.offer-manage-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  margin-top: 2rem;
  border: 1px solid rgba(250, 241, 217, 0.562);
  width: 60%;
  height: 70vh;
  background-color: #f7f7f7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.096);

  .offer-form-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  form {
    flex-grow: 1;
    border-radius: 8px;
    padding: 2rem;
    background-color: #eeebe8;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0.5rem;
    box-sizing: border-box;
    input {
      width: 100%;
    }

    input[type="number"], input[type="text"], input[type="datetime-local"]{
      padding: 0.3rem 0.5rem;
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.404);
      &:focus {
        outline: 1px solid rgb(68, 57, 44);
      }
    }

    input[type="file"] {
      width: 60%;
    }

    input[type="file"]::file-selector-button {
      background-color: #e4cfb0;
      border-radius: 4px;
      border: none;
      padding: 0.3rem;
      transition: 0.2s ease;
      &:hover {
        background-color: #a38a65;
        color: white;
        cursor: pointer;
      }
    }

    img {
      border-radius: 12px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    label {
      font-size: 1.1rem;
      font-weight: 600;
      color: $dark-brown;
      margin-left: 0.3rem;
      margin-bottom: 0.1rem;
    }
  }

  >section {

  }
}

.offer-fill-wrapper {
  display: flex;
  gap: 8rem;
  height: 100%;
  width: 100%;
  min-height: 0;
  //DISH-SELECTOR
  .dish-selector-panel-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
    width: 49%;
    h2 {
      text-align: center;
    }
    .filter-block {

    }

    .dishes-list {
      flex-grow: 1 1 auto;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      padding: 1.4rem;
      overflow-y: auto;
      min-height: 0;
      min-width: 0;
      height: 100%;
      border: 1px solid rgba(0, 0, 0, 0.26);
      border-radius: 8px;
      background-color: #eeebe8;
      //box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      box-shadow: inset 0 0 10px rgba(0,0,0,0.12);
    }
  }


  //SUMMARY
  .offer-summary-panel {
    display: flex;
    flex-direction: column;
    align-content: start;
    width: 20rem;
    padding: 1.3rem 2rem;
    border: 1px solid rgba(82, 82, 82, 0.356);
    border-radius: 12px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.12);
    //box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    background-color: #f5f3f1;
    .offer-summary-header {
      h2 {
        text-align: center;
      }
    }

    .offer-summary-list {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      overflow-y: auto;
      .offer-summary-item-row {
        display: flex;
        padding-bottom: 0.6rem;
        border-bottom: 1px solid #e6e6e6;
        max-height: 1.5rem;
        .item-name {
          margin: 0;
          flex-grow: 1;
          color: #444;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        div {
          display: flex;
          input {
            width: 2rem;
            background-color: #f7f7f700;
            border: none;
          }
  
          button {
            margin: 0 0.6rem;
            padding: 0.2rem 0;
          }
        }

      }
    }

    .offer-summary-calc {
      flex-grow: 0;
      margin-bottom: 2rem;
      div {
        display: flex;
        align-items: baseline;
        gap: 0.6rem;
        margin-top: 1.6rem;
      }
      h3 {
        margin: 0;
        color: #ce6118;

      }

      .offer-summary-price {
        font-size: 1.2rem;
        color: rgb(48, 78, 92);
      }
    }
  }

  h2 {
    color: $dark-brown;
  }
}


.offer-manage-footer {
  display: flex;
  gap: 2rem;
  margin: 1.5rem 0;
}